In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("iris.data.csv", names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

In [3]:
dataset

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
dataset.tail()

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [6]:
dataset.shape

(150, 5)

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,sepal_length,sepal_width,petal_length,petal_width,class_Iris-versicolor,class_Iris-virginica
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,0
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,1
146,6.3,2.5,5.0,1.9,0,1
147,6.5,3.0,5.2,2.0,0,1
148,6.2,3.4,5.4,2.3,0,1
149,5.9,3.0,5.1,1.8,0,1

In [8]:
dataset(['class_Iris-versicolor','class_Iris-virginica'])=dataset['class_Iris-versicolor', 'class_Iris-virginica'].replace(['class_Iris-versicolor','class_Iris-virginica'],['class_Iris_versicolor','class_Iris_virginica'])

SyntaxError: can't assign to function call (<ipython-input-8-b1bd6dc788ed>, line 1)

In [9]:
independent=dataset[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
dependent=dataset[['class_Iris-versicolor', 'class_Iris-virginica']]

In [10]:
dataset('class_Iris_versicolor', 'class_Iris_virginica').value_counts()

TypeError: 'DataFrame' object is not callable

In [ ]:
from sklearn.mode_selection import